bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.EffectiveStopWatch/.idea/.gitignore
/.idea/.idea.EffectiveStopWatch/.idea/encodings.xml
/.idea/.idea.EffectiveStopWatch/.idea/indexLayout.xml
/.idea/.idea.EffectiveStopWatch/.idea/vcs.xml
